div.container {
  /* display: inline-grid; */
}

div.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.socket {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 10px;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
