div.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.socket {
  cursor: pointer;
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
